/* main color variables */
:root {
   --main-color: #f7f8f9;
   --main-border-color: rgb(235, 235, 235);
}
@font-face {
   font-family: Bebas;
   src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
   font-family: noto-sans;
   src: url(Fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
   font-family: open-sans;
   src: url(Fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
   font-family: roboto-slab;
   src: url(Fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}
@font-face {
   font-family: roboto-slab-bold;
   src: url(Fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf);
}

/* html document container overal settings */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

/* Header, avatar and logo styles */
.header {
   background-color: var(--main-color);
   margin: 0;
   padding: 0;
   width: 100%;
   border-bottom: 3px solid var(--main-border-color);
}
.avatar {
   display: inline-block;
   width: 90px;
   margin: 15px 0 15px 20px;
   border-radius: 50%;
}
.logo{
   display: inline-block;
   position: absolute;
   top: 0px;
   font-size: 1.8rem;
   margin: 28px 0 0 20px;
   color: black;
   text-decoration: none;
   font-family: "Bebas", sans-serif;
}

/* Navigation links styles */
.nav {
   background-color: var(--main-color);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   overflow: hidden;
   max-height: 0;
   transition: max-height 0.3s ease-out;
}
.nav-menu {
   list-style: none;
   padding: 0;
}
.nav-menu a {
   font-family: "noto-sans", sans-serif;
   font-size: 1.0rem;
   color: grey;
   display: block;
   padding: 40px;
   text-align: center;
   text-decoration: none;
}
.nav-menu a:hover {
   color: black;
}
.nav .nav-active {
   color: black;
   font-weight: 600;
} 

/* hamburger menu icon - mobile view */
.menu-icon {
   cursor: pointer;
   float: right;
   padding: 60px 60px 60px 0;
}
.navi-line {
   background-color: grey;
   display: block;
   position: relative;
   z-index: 1;
   height: 3px;
   width: 24px;
}
.navi-line::before, .navi-line::after {
   background-color: grey;
   content: "";
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
   width: 100%;
   transition: all 0.2s ease-out;
}
.navi-line::before {
   top: 7px;
}
.navi-line::after {
   top: -7px;
}
.menu-btn {
   display: none;
}

/* Hamburger menu icon - toggle */
.menu-btn:checked ~ nav {
   max-height: 100%;
   border-top: 20vh solid var(--main-color);
}
.menu-btn:checked ~ .menu-icon .navi-line {
    background: transparent;
}
.menu-btn:checked ~ .menu-icon .navi-line::before {
    transform: rotate(45deg);
    top:0;
}
.menu-btn:checked ~ .menu-icon .navi-line::after {
    transform: rotate(-45deg);
    top:0;
}

/* main-index - intro section and portrait (home page) - styles */
.main-index {
   display: flex;
   flex-direction: column;
   /* background-color: rgb(36, 36, 39); */
}
.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   color: #233742;
   padding: 10vw;
}
.intro h2 {
   font-size: 1.2rem;
   font-family: "open-sans", sans-serif;
}
.intro p {
   padding: 1.5rem 0;
   font-family: "roboto-slab", sans-serif;
}
.intro p span {
   font-family: "roboto-slab-bold", sans-serif;
}
#intro-image-id {
   width: 100%;
}
.intro a {
   color: #233742;
   text-decoration: underline;
   text-underline-offset: 0.5rem;
   font-family: "roboto-slab", sans-serif;
   transition: 0.5s;
}
.intro a:hover {
   color: #4B39D5;
   font-size: 1.5rem;
   text-decoration: underline;
   text-underline-offset: 1rem;
}

/* footer socials styles */
.socials {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 15vh;
   background-color: var(--main-color);
}
.socials img {
   height: 1.5rem;
   /* padding: 5px 0; */
}
.socials a {
   padding: 5vh 15px;
}
#li:hover {
   height: 2.5rem;
   transform: rotate(-45deg);
}
#gh:hover {
   height: 2.5rem;
   transform: rotate(45deg);
}


/* ----------about.html styles----------- */
/* main-about styles */
.main-about {
   display: flex;
   flex-direction: column;
   background-color: var(--main-color);
   align-items: center;
}
article{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.main-about h4 {
   font-family: "open-sans", sans-serif;
   padding: 5vh 0 2vh;
   font-size: 1.8rem;
   font-weight: 500;
}
.main-about h5 {
   font-family: "open-sans", sans-serif;
   padding: 5vh 0 2vh;
   font-size: 1.3rem;
   font-weight: 500;
}
.main-about p {
   padding: 0 5vw;
}
.about-image {
   width: 90vw;
   padding: 5vh 0 0;
}

/* Skills teck stack styles */
.tech-stack {
   padding: 5vh 0 0 0;
}

.tech-stack ul {
   columns: 2;
   padding: 0vh 0 10vh 0;
}
.tech-stack li {
   list-style: none;
   font-size: 0.7rem;
   padding: 1rem 0.8vw;
}
.tech-stack img {
   height: 2rem;
   vertical-align: middle;
   padding: 0 0.2rem 0 0;
}


/* ----------blog.html styles----------- */
/* main-blog section & title styles*/
.title-blog {
   background-color: var(--main-color);
   text-align: center;
}
.title-blog h2 {
   padding: 5vh 0 0 0;
   font-family: "open-sans", sans-serif;
   font-size: 2.2rem;
   font-weight: 500;
}
.title-blog p {
   padding: 5vh 5vw 5vh;
}

/* Blog series - tiles, pictures, headings, and dates styles*/
.main-blog {
   background-color: var(--main-color);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 5vw;
}
.blog1, .blog2, .blog3, .blog4, .blog5, .blog6 {
   height: 90vw;
   width: 90vw;
   margin: 0 0 5vw 0;
   display: flex;
   flex-direction: column;
   justify-content: end;
   color: var(--main-color);
   padding: 0 0 2vw 2vw;
}
.blog1 {
   background: url("images/blog1.jpg") center;
   background-size: 150%;
}
.blog2 {
   background: url("images/blog2.jpg") center;
   background-size: 150%;
}
.blog3 {
   background: url("images/blog3.jpg") center;
   background-size: 180%;
}
.blog4 {
   background: url("images/blog4.jpg") center;
   background-size: 150%;
}
.blog5 {
   background: url("images/blog5.jpg") center;
   background-size: 150%;
}
.blog6 {
   background: url("images/blog6.jpg") center;
   background-size: 150%;
}
.blog-date {
   font-size: 1.0rem;
   text-shadow: 1px 0px 10px black;
}
.blog-title a {
   font-family: "open-sans", sans-serif;
   font-size: 1.8rem;
   color: var(--main-color);
   text-shadow: 1px 0px 10px black;
   text-decoration: none;
   transition: 0.2s;
}
.blog-title a:hover {
   color:linen;
   font-size: 2.0rem;
}
.main-blog img{
   width: 1.5rem;
   padding: 1rem 0 0 0;
}


/* ----------contact.html styles----------- */
/* contact form styles*/
.main-contact {
   display: flex;
   flex-direction: column;
   background-color: var(--main-color);
}
.contact-form h3 {
   font-size: 1.4rem;
   font-weight: 500;
   padding: 1rem 0 2rem;
}
input[type=text], textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid grey;
   border-radius: 4px;
   font-size: 0.7rem;
   margin: 6px 0 16px 0;
}
input[type=submit] {
   font-size: 0.7rem;
   padding: 0.5rem 0.8rem;
   border-radius: 4px;
   cursor: pointer;
}
input[type=submit]:hover {
   background-color: lightgray;
}
.contact-form {
   padding: 20px;
}
.contact-form label {
   font-size: 0.8rem;
}

/* contact details and socials styles */
.contact-details{
   padding: 1rem 2rem 4rem;
   display: flex;
   flex-direction: column;
}
.contact-items, .contact-socials {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 1rem 0 0 0;
}
.contact-details img {
   height: 1.5rem;
   display: block;
}
.contact-details p {
   width: 40vw;
   font-size: 0.8rem;
}
.contact-items a:link {
   color: black;
}
.contact-items a:visited {
   color: black;
}


/* ----------blog1 -> 6.html styles----------- */
/* Blog pages individual styles*/
.blog-article-page {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.blog-leftcolumn {
   width: 100vw;   
}
.blog-rightcolumn {
   width: 100vw;
}

/* left column main article styles */
.main-article-card {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.blog1-main-image {
   background: url("images/blog1.jpg") center;
   background-size: 100%;
   height: 35vw;
   width: 95%;
   margin: 2vw;
}
.blog2-main-image {
   background: url("images/blog2.jpg");
   background-position: 0 35%;
   background-size: 100%;
   height: 35vw;
   width: 95%;
   margin: 2vw;
}
.blog3-main-image {
   background: url("images/blog3.jpg") center;
   background-size: 100%;
   height: 35vw;
   width: 95%;
   margin: 2vw;
}
.blog4-main-image {
   background: url("images/blog4.jpg");
   background-position: 0 80%;
   background-size: 100%;
   height: 35vw;
   width: 95%;
   margin: 2vw;
}
.blog5-main-image {
   background: url("images/blog5.jpg");
   background-position: 0 90%;
   background-size: 100%;
   height: 35vw;
   width: 95%;
   margin: 2vw;
}
.blog6-main-image {
   background: url("images/blog6.jpg");
   background-position: 0 80%;
   background-size: 100%;
   height: 35vw;
   width: 95%;
   margin: 2vw;
}
.main-article-card h2 {
   padding: 2rem 0 1rem 0;
}
.main-article-card h5 {
   color: rgb(97, 97, 97);
   padding: 0 0 1.5rem 0;
}
.main-article-card p {
   padding: 1rem 8vw;
   color: rgb(97, 97, 97);
}

/* right column - about me, recent posts and follow me styles */
.blog-rightcolumn {
   display: flex;
   flex-direction: column;
}
.card1, .card2, .card3 {
   width: 90vw;
   padding: 0.5rem;
   margin: 2vw auto 0;
   border: 3px solid var(--main-border-color);
}
/* card1 - about me styles */
.blog-rightcolumn .blog-about-portrait {
   float: right;
   height: 7rem;
   width: 5rem;
   margin: 0 0 0 0.5rem;
   background: url("images/portrait.jpg") center;
   background-size: 140%;
}
.card1 h2 {
   font-size: 1.1rem;
   font-weight: 500;
}
.card1 p {
   font-size: 0.7rem;
   padding: 0.5rem 0;
}
/* card2 - recent posts styles */
.card2 h3 {
   font-size: 1.1rem;
   font-weight: 500;
   padding: 0 0 0.5rem;
}
.blog-recent-block {
   display: flex;
   padding: 0.5rem 0;
   border-top: 1px solid var(--main-border-color);
}
.blog-recent-block a{
   color:darkslateblue;
   text-decoration: none;
}
.blog-recent-block a:hover {
   text-decoration: underline;
   text-underline-offset: 0.2rem;
}
.blog-recent-block a:visited {
   color: darkslateblue;
}
.blog1-recent-img {
   width: 6.2rem;
   height: 3.5rem;
   background: url("images/blog1.jpg") center;
   background-size: 100%;
}
.blog2-recent-img {
   width: 6.2rem;
   height: 3.5rem;
   background: url("images/blog2.jpg") center;
   background-size: 100%;
}
.blog3-recent-img {
   width: 6.2rem;
   height: 3.5rem;
   background: url("images/blog3.jpg") center;
   background-size: 100%;
}
.blog4-recent-img {
   width: 6.2rem;
   height: 3.5rem;
   background: url("images/blog4.jpg") center;
   background-size: 100%;
}
.blog5-recent-img {
   width: 6.2rem;
   height: 3.5rem;
   background: url("images/blog5.jpg") center;
   background-size: 100%;
}
.blog6-recent-img {
   width: 6.2rem;
   height: 3.5rem;
   background: url("images/blog6.jpg") center;
   background-size: 100%;
}
.blog-recent-block p {
   padding: 1.0rem;
   font-size: 0.8rem;
}
/* card3 - follow me, socials styles */
.card3 h3 {
   font-size: 1.0rem;
   font-weight: 500;
}
.card3 img {
   height: 1.2rem;
}
.card3 p {
   font-size: 0.8rem;
}
.blog-footer {
   height: 10vh;
}


/* -------- Screen Size Responsiveness ----------- */
@media only screen and (min-width: 550px) and (max-width: 799px) {

   /* blog.html page */
   .blog1, .blog2, .blog3, .blog4, .blog5, .blog6 {
      height: 40vw;
      width: 40vw;
   }

   /* about.html page */
   .tech-stack ul {
   columns: 3;
   padding: 0 0 15vh 0;
   }
}

@media only screen and (min-width: 800px) {
   /* Header */
   .nav {
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      margin: 20px;
   }
   .nav .nav-active {
   text-decoration: underline;
   text-decoration-color: grey;
   text-underline-offset: 0.8rem;
   text-shadow: none;
   font-weight: 500;
   }
   .nav-menu li {
      float: left;
   }
   .nav-menu a {
      padding: 25px;
   }
   .nav-menu a:hover {
      background-color: transparent;
   }
   .menu-icon {
      display: none;
   }
   
   /* index.html page */
   .main-index {
      flex-direction: row;
      flex-wrap: nowrap;
   }
   .intro {
      align-items: flex-start;
      justify-content: center;
      padding: 0 5vw 0 5vw;
   }
   .intro h2 {
   font-size: 2.5rem;
   }
   .intro p {
      font-size: 1.0rem;
      padding: 2rem 0 2rem 0;
   }
   #intro-image-id {
      width: 70vh;
   }
   
   /* about.html page */
   .main-about article {
      width: 40vw;
   }
   .main-about h4 {
      font-size: 1.5rem;
   }
   .main-about p {
      padding: 0 0;
      font-size: 0.8rem;
   }
   .about-image {
      width: 40vw;
   }
   .tech-stack ul {
   columns: 4;
   padding: 0 0 15vh 0;
}
   
   /* blog.html page */
   .blog1, .blog2, .blog3, .blog4, .blog5, .blog6 {
      height: 25vw;
      width: 25vw;
   }

   /* contact.html page */
   .main-contact {
      flex-direction: row;
   }
   .contact-form {
      width: 50vw;
      padding: 2rem 2rem 2rem 4rem;
   }
   .contact-items p {
      padding: 0 0 0 2rem;
   }
   .contact-details {
      margin: auto;
      width: 25%;
   }
   .blog-hero-image {
   height: 20vw;
   }

   /* blog1 -> 6.html pages */
   .blog-article-page {
   flex-direction: row;
   align-items: unset;
   }
   .blog-leftcolumn {
   width: 75vw;   
   }
   .blog1-main-image, .blog2-main-image, .blog3-main-image, .blog4-main-image, .blog5-main-image, .blog6-main-image {
      height: 25vw;
   }
   .blog-rightcolumn {
   width: 20vw;
   }
   .main-article-card p {
   padding: 1rem 10vw;
   }
   .card1, .card2, .card3 {
   width: 17rem;
   }
   .sticky {
   position: sticky;
   top: 0;
   }
   .blog-footer {
   height: 20vh;
   }
}

@media only screen and (min-width: 1250px) {
   /* index.html page */
   .intro {
   padding: 0 15vw 0 5vw;
   }
   .intro h2 {
   font-size: 4.5rem;
   }
   .intro p {
      font-size: 1.3rem;
      letter-spacing: 0.2px;
   }
}

